{% extends 'core/base.html' %}
{% block title %}Items {% endblock %}
{% block content %}
    <div class='pb-6 grid grid-cols-4 gap-4 bg-gray-100'>
        <div class='col-span-1'>
            <div class="p-4 bg-white rounded-xl">
                <h2 class="text-xl font-semibold mb-4">Search</h2>
                <form action="{% url 'item:items' %}" method="GET">
                    <input
                        type="text"
                        name="query"
                        placeholder="Find a bike, chair, or car"
                        class="w-full p-2 border rounded-md"
                    >
                    <button
                        type="submit"
                        class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700"
                    >
                        Search
                    </button>
                </form>
                <hr class='my-6'>
                <p class='font-semibold'>Categories</p>
                <ul>
                    
                    <ul>
                        {% for category in categories %}
                            <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200 {% endif %}">
                                <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                         
                    
          
                </ul>
                <hr class='my-6'>
                <p class='font-semibold'> Clear filters</p>

                <ul>
                    <li><a href='{% url 'item:items' %}' class='mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white'>Clear</a>
                    </li>    
                </ul>
            </div>
        </div>
        <div class='col-span-3'>
            <div class="grid grid-cols-3 gap-3">
                {% for item in items %}
                    <div class="p-6 bg-white rounded-xl">
                        <a href="{% url 'item:detail' item.id %}">
                            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="rounded-t-xl">
                        
                        <h3 class="text-2xl">{{ item.name }}</h3>
                        <p class="bg-white rounded-b-xl">{{ item.description }}</p>
                        <p class="text-teal-500">Price: {{ item.price }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
                       
        </div>
    </div>            
{% endblock %}